[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
aiogram = "~=2.14"
environs = "~=8.0.0"
python = "~=3.9.13"
asyncpg = "~=0.27.0"

[dev-packages]

[requires]
python_version = "3.9.13"
